body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #f1f1f1;
  }
  
  .container {
	width:500px;
	background-color:aliceblue;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
	text-align: center;
	margin-bottom: 20px;
  }
  
  form {
	display: flex;
	flex-direction: column;
  }
  
  label {
	margin-bottom: 5px;
  }
  
  input {
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
  }
  
  button {
	width: 87.5px;
	padding: 10px 20px;
	margin-left: 150px;
	background-color: #007BFF;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  }
  
  button:hover {
	background-color: #0056b3;
  }
  input[type="text"], input[type="password"] {
	width: 100%;
	padding: 9px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: none;
	background-color: #f1f1f1;
}

input[type="submit"] {
	background-color: #4CAF50;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #3e8e41;
}
